.countrylist{
    margin: 6vw;
}
.card-img-top{
    height:10rem;
}

.card-body>.card-text{
    font-size: 0.9rem;
}
.card-body-dark>.card-text>span{
    color: lightslategray;
}
.card-body-dark{
    background-color: hsl(209, 23%, 22%);
    color:#E8E8E8;
}
.card-body-light{
    background-color: hsl(0, 0%, 100%);
    color:hsl(207, 26%, 17%);
}
.card-body-light>.card-text>span{
    color: lightslategray;
}